<template name="quillReactive">
    <link href="//cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
  <div class="ql-containers {{#if hasEdits}}unsaved{{/if}}">
    <div id="status" class="needsclick status">
      <button class="toggle-live-editing ui compact icon {{#unless connection.connected}}disabled{{else}}{{#if liveEditing}}blue active{{/if}}{{/unless}} button">
        <div class="live-editing-popup ui popup">Live editing is {{#if liveEditing}}ON{{else}}OFF{{/if}}</div>
        <i class="icons">
          <i class="exchange icon"></i>
        </i>
      </button>
        <div class="ql-save-discard-buttons ui padded right floated compact buttons">
          <button title="Save" class="ql-save ui  icon button"><i class="save icon"></i>Save</button>
          <button title="Discard" class="ql-discard ui  icon button"><i class="trash icon"></i>Discard</button>
          <a href="https://www.google.com">link to google</a>

        </div>
    </div>
    <div id="toolbar">
        <!-- Add font size dropdown -->
        <select class="ql-size">
          <option value="small">small</option>
          <!-- Note a missing, thus falsy value, is used to reset to default -->
          <option selected>normal</option>
          <option value="large">large</option>
          <option value="huge">huge</option>
        </select>
        <button class="ql-bold"></button>
        <button class="ql-italic"></button>
      </div>

    <div class="ql-editor" id="editor-{{docId}}">
      <div class="needsclick" contenteditable=true spellcheck=false></div>
    </div>
  </div>
</template>
